[submodule "submodules/anchor"]
	path = submodules/anchor
	url = git@github.com:anchoranalysis/anchor.git
[submodule "submodules/anchor-plugins-gpl"]
	path = submodules/anchor-plugins-gpl
	url = git@github.com:anchoranalysis/anchor-plugins-gpl.git
[submodule "submodules/anchor-plugins"]
	path = submodules/anchor-plugins
	url = git@github.com:anchoranalysis/anchor-plugins.git
[submodule "submodules/anchor-launcher"]
	path = submodules/anchor-launcher
	url = git@github.com:anchoranalysis/anchor-launcher.git
