[submodule "submodules/anchor"]
	path = submodules/anchor
	url = git@github.com:anchoranalysis/anchor.git
	branch = dev
[submodule "submodules/anchor-plugins-gpl"]
	path = submodules/anchor-plugins-gpl
	url = git@github.com:anchoranalysis/anchor-plugins-gpl.git
	branch = dev
[submodule "submodules/anchor-gui"]
	path = submodules/anchor-gui
	url = git@github.com:anchoranalysis/anchor-gui.git
	branch = dev
[submodule "submodules/anchor-assembly"]
	path = submodules/anchor-assembly
	url = git@github.com:anchoranalysis/anchor-assembly.git
	branch = dev
[submodule "submodules/anchor-plugins"]
	path = submodules/anchor-plugins
	url = git@github.com:anchoranalysis/anchor-plugins.git
	branch = dev
